@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-[white] flex items-center justify-center;
}

.xxxl {
    color: green;
    font-weight: 600;
}

.bg-image {
    // webpack alias to source image file in SCSS
    background-image: url(@images/bg/flash-sale-bg2.png);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100%;
    background-size: contain;
    position: absolute;
    top: 0;
    z-index: -1;
}